extends ../layout-inside

block content
    h2= title

    .row
        .span9
            h3 List of points
                span.muted  (#{points.length})

            - if (points)
                ol.list-points
                    - points.forEach(function (point) {
                        li
                            h3
                                a(href="/points/edit/"+point._id, rel="tooltip", title="Edit this point")= point.title

                            form(action="/points", method="post")
                                input(type="hidden", name="_method", value="delete")
                                input(type="hidden", value=point._id, name="id")
                                button.btn.btn-mini.btn-danger(title="remove " + point.title , rel="tooltip", title="Delete this point", type="submit") X
                    - })

        .span3
            h3 Add new point
            form(action="/points", method="post")
                ul.unstyled
                    li
                        label Title
                            input(type="text", name="title")
                    li
                        label Description
                            textarea(name="description")
                    li
                        label Category
                            - var categorys = [ ['airport', 'airport'], ['amusement_park', 'amusement park'], ['art_gallery', 'art gallery'], ['bank', 'bank'], ['bar', 'bar'], ['bicycle_store', 'bicycle store'], ['cafe', 'cafe'], ['car_rental', 'car rental'], ['casino', 'casino'], ['church','church'], ['food', 'food'], ['fountain', 'fountain'], ['hotel', 'hotel'], ['landmark', 'landmark'], ['important_street', 'important street'], ['museum', 'museum'], ['night_club', 'night club'], ['park', 'park'], ['restaurant', 'restaurant'], ['special_activity', 'special activity'], ['stadium', 'stadium'], ['subway_station', 'subway station'], ['store', 'store'], ['zoo', 'zoo'] ];
                            select(name="category")
                                option(value="no category") ---
                                - categorys.forEach(function(category) {
                                    option(value=category[0])= category[1]
                                - })
                    li
                        label City
                            select(name="city")
                                option(value="Madrid") Madrid
                    li
                        label Geolocation
                            input(type="text", name="latlng")
                    li
                        label Address
                            input(type="text", name="address")
                    li
                        label Have Promotion?
                            .check
                                input(type="checkbox", name="promotion")
                    li
                        label Promo details
                            textarea(name="promo_details")
                    li
                        input.btn.btn-primary.btn-success(type="submit", value="Save", name="save-point")
