extends ../layout-map

block modal
    include ../includes/utils/modals/modal-map-details.jade

block append head
    script(src='https://maps.google.com/maps/api/js?&libraries=places&key=AIzaSyCABzxHhmqMf_Ty8MzdGeDfD1JPK482cNE&sensor=false')
    script(src='/javascripts/min/map.min.js')

block modal

block content
    #side-map.side-map
        .side-map-content
            h2= destination.city.name
                small  - Date:
                    span.datePlan= date(trip.date)

            p.trip-infos
                strong.hide.userName= user.name
                span.hide.trip-days= trip.days

        .days
            - for (var i = 0, len = trip.days; i < len; i++) {
                a.btn.btn-info.btn-small.change-days(href="#", title=date(addDays(trip.date, i)), rel="tooltip", data-day=i, data-date=date(addDays(trip.date, i))): <i class="icon-calendar icon-white"></i> Day #{i+1}
            - }
                a.btn.btn-small.btn-success(href="#", title="add more days", rel="tooltip")
                    i.icon-plus-sign.icon-white

        ul#days-plan.unstyled

        #showInfo
            h2.title
            p.address
            p.rate

        #users
            h4 contact people in #{destination.city.name}

    #map(data-lat=destination.city.geoLocation.lat, data-lng=destination.city.geoLocation.lng)

block footer