extends ../layout-map

block append head
    script(src='https://maps.google.com/maps/api/js?&libraries=places&key=AIzaSyCABzxHhmqMf_Ty8MzdGeDfD1JPK482cNE&sensor=false')
    script(src='/javascripts/map.js')

block modal

block content
    #side-map.side-map
        .side-map-content
            h2 Your trip
            dl
                dt Destination
                dd= destination.city.name + " - " + destination.country.name

                dt.mt Date
                dd= date(trip.date)

                dt.mt Days
                dd= trip.days

                dt.mt Intensity
                dd= trip.intensity

    #map(data-lat=destination.city.geoLocation.lat, data-lng=destination.city.geoLocation.lng)= user.name

block footer