extends ../layout-inside

block modal
    include ../includes/utils/modals/modal-start.jade

block append head
    script(src='/javascripts/profile.js')
    script(src='/javascripts/vendor/chosen.js')
    link(rel='stylesheet', href='/stylesheets/chosen.css')

block banner
    img.img-polaroid.img-profile(src="http://graph.facebook.com/#{user.facebook_id}/picture?type=large")
    h2.name-profile= __('Welcome %s', user.name)

block content
    .row
        dl.span7.offset1.dl-horizontal
            dt
                i.icon-envelope(rel="tooltip", title="email")
            dd= user.email

            dt
                i.icon-user(rel="tooltip", title="gender")
            dd= user.gender

            dt
                i.icon-globe(rel="tooltip", title="hometown")
            dd= user.hometown

            dt
                i.icon-map-marker(rel="tooltip", title="location")
            dd= user.location

            dt
                i.icon-gift(rel="tooltip", title="birthday")
            dd= user.birthday
            dt
                i.icon-gift(rel="tooltip", title="age")
            dd
                = yearsOld(user.birthday)
                | #{__(' years old')}

            dt
                i.icon-time(rel="tooltip", title="Joined")
            dd  Joined #{fromNow(user.createdAt)}

        .span3.offset1.t-center
            h4 Start planning your trip
            a.btn.btn-primary.btn-large.btn-success(href="#", data-toggle="modal", data-target="#startModal"): <i class="icon-plane icon-white"></i> #{__('Start plan it')}


    - if(success.length){
        .alert.alert-success.alert-block.fade.in
            button.close(type="button", data-dismiss="alert") ×
            p
                strong #{success}
    - }

    .row
        form(action="/profile", method="post")
            .span12.mb

            h4.span12 Personal Profile
            .span12
                .span3.no-ml
                    ul.unstyled
                        li.mb
                            label Museums
                            - var museums = [ ['dont_like', 'Don\'t like'], ['modern_art', 'Modern Art'], ['archeology', 'Archeology'], ['science', 'Science'], ['classical_art', 'Classical Art'] ];
                            select.chzn-select(name="museums", multiple="multiple")
                                - museums.forEach(function (val) {
                                    - if (user.interests.museums.indexOf(val[0]) === -1) {
                                        option(value=val[0])= val[1]
                                    - } else {
                                        option(value=val[0], selected="selected")= val[1]
                                    - }
                                - })

                        li
                            label Type of food
                            - var typeFood = [ ['localfood', 'Local food'], ['international_food', 'International food'], ['asian_food', 'Asian food'], ['italian_food', 'Italian food'], ['french_food', 'French food'], ['fast_food', 'Fast food'], ['indian', 'Indian'], ['thai', 'Thai'], ['chinese', 'Chinese'], ['japanese', 'Japanese'] ];
                            select.chzn-select(name="type_food", multiple="multiple")
                                - typeFood.forEach(function (val) {
                                    - if (user.interests.type_food.indexOf(val[0]) === -1) {
                                        option(value=val[0])= val[1]
                                    - } else {
                                        option(value=val[0], selected="selected")= val[1]
                                    - }
                                - })

                .span3
                    ul.unstyled
                        li.mb
                            label Outdoors
                            - var outdoors = [ ['dont_like', 'Don\'t like'], ['architechture', 'Architechture'], ['parks', 'Parks'], ['neighborhoods_intineraries', 'Special neighborhoods intineraries'] ];
                            select.chzn-select(name="outdoors", multiple="multiple")
                                - outdoors.forEach(function (val) {
                                    - if (user.interests.outdoors.indexOf(val[0]) === -1) {
                                        option(value=val[0])= val[1]
                                    - } else {
                                        option(value=val[0], selected="selected")= val[1]
                                    - }
                                - })

                        li
                            label Events
                            - var events = [ ['concerts', 'Concerts'], ['shows', 'Shows'], ['theater', 'Theater'], ['local_culture', 'Related to local culture'] ];
                            select.chzn-select(name="events", multiple="multiple")
                                - events.forEach(function (val) {
                                    - if (user.interests.events.indexOf(val[0]) === -1) {
                                        option(value=val[0])= val[1]
                                    - } else {
                                        option(value=val[0], selected="selected")= val[1]
                                    - }
                                - })



                .span3
                    ul.unstyled
                        li.mb
                            label Sports
                            - var sports = [ ['dont_like', 'Don\'t like'], ['golf', 'Golf'], ['motor', 'Motor'], ['football', 'Football'], ['rugby', 'Rugby'], ['tennis', 'Tennis'], ['basketball', 'Basketball'], ['volleyball', 'Volleyball'] ];
                            select.chzn-select(name="sports", multiple="multiple")
                                - sports.forEach(function (val) {
                                    - if (user.interests.sports.indexOf(val[0]) === -1) {
                                        option(value=val[0])= val[1]
                                    - } else {
                                        option(value=val[0], selected="selected")= val[1]
                                    - }
                                - })

                        li
                            label Music
                            - var music = [ ['classical', 'Classical'], ['rock', 'Rock'], ['jazz_blues', 'Jazz/Blues'], ['ppera', 'Opera'], ['electronic', 'Electronic'], ['rnb_rap', 'R&B/Rap'], ['pop', 'Pop'], ['latino', 'Latino'], ['raggae', 'Raggae'], ['heavy', 'Heavy'] ];
                            select.chzn-select(name="music", multiple="multiple")
                                - music.forEach(function (val) {
                                    - if (user.interests.music.indexOf(val[0]) === -1) {
                                        option(value=val[0])= val[1]
                                    - } else {
                                        option(value=val[0], selected="selected")= val[1]
                                    - }
                                - })

                .span3
                    ul.unstyled
                        li
                            label Nightlife
                            - var nightlife = [ ['dont_like', 'Don\'t like'], ['concerts', 'Concerts'], ['discos', 'Discos'], ['bars', 'Bars'], ['shows', 'Shows'] ];
                            select.chzn-select(name="nightlife", multiple="multiple")
                                - nightlife.forEach(function (val) {
                                    - if (user.interests.nightlife.indexOf(val[0]) === -1) {
                                        option(value=val[0])= val[1]
                                    - } else {
                                        option(value=val[0], selected="selected")= val[1]
                                    - }
                                - })

                        li
                            input(type="hidden", name="_method", value="put")
                            input.btn.btn-primary.mt.mt-xxl(type="submit", value="Update profile", name="update-profile")





